@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:hsl(211, 29%, 77%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 12%;
}

/* CONTENT */

.imageDiv img{
    width: 400px;
    height: 70%;
    margin-left: -60px;
    display: flex;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}


/* CARD-TEXT */
.cardDiv{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
    background-color: #fff;
    padding: 27px;
    height: 320px;
    position: relative;
}

.textH2{
    font-family: sans-serif, 'Manrope';
    font-weight: 700;
    margin-bottom: 28px;
    width: 87%;
}

.textSub{
    font-family: sans-serif, 'Manrope';
    font-weight: 500;
    margin-bottom: 30px;
    width: 87%;
    color: grey;
    margin-top: 20px;
}

.sep{
    display: flex;
    justify-content: space-between;
}

.profile{
    display: flex;
    gap: 15px;
    color: grey;
    margin-bottom: 20px;
}

.pic{
    border-radius: 20px;
}

.profileText{
    font-family: sans-serif, 'Manrope';
    gap: 5px;
}

.name{
  font-size: 17px;
  margin-bottom: 8px;
}


.share-btn{
    border: 1px solid  hsl(210, 46%, 95%);
    padding: 10px;
    border-radius: 20px;
    background-color:  hsl(210, 46%, 95%);
    width: 40px;
    height: 40px;
  
}



.share-popup{
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 120px;
    left: 71%;
    color: white;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    background-color:hsl(217, 19%, 35%);
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.share-popup::after {
  content: "";
  position: absolute;
  bottom: -6px; 
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: hsl(217, 19%, 35%);
}

.share-popup.active{
    visibility: visible;
    opacity: 1;
    background-color: hsl(217, 19%, 35%);
    transform: translateY(0);
    pointer-events: auto;
}

.share-btn.active{
    background-color: hsl(217, 19%, 35%);

}



/* PHONE */
@media only screen and (max-width:600px){
  *{
    margin: 0;
    padding: 0;
  } 
   
 .container{
    /* display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

/* CONTENT */

.imageDiv img{
    width: 100%;
    height: 70%;
    display: flex;
    justify-self: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    margin: 0 auto;
    
}


/* CARD-TEXT */
.cardDiv{
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-self: center;
    align-items: center;

    width: 100%;
    background-color: #fff;

    height: 350px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: relative;
}

.textH2{
    font-family: sans-serif, 'Manrope';
    font-weight: 700;
    margin-bottom: 10%;
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
}

.textSub{
    font-family: sans-serif, 'Manrope';
    font-weight: 500;
    margin-bottom: 50px;
    width: 100%;
    color: grey;
    margin-top: 18px;
    line-height: 1.5;
    margin-top: 10px;
}

.sep{
    display: flex;
    justify-content: space-between;
}

.profile{
    display: flex;
    gap: 15px;
    color: grey;
    margin-bottom: 0;
}

.pic{
    border-radius: 20px;
}

.profileText{
    font-family: sans-serif, 'Manrope';
    gap: 5px;
}

.name{
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

.date{
    font-size: 13px;
}



.share-btn{
    border: none;
    padding: 100%;
    border-radius: 50%;
    background-color:  hsl(210, 46%, 95%);
    width: 2%;
    height: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50%;
    margin-top: 40%;
}

.share-popup{
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    position: absolute;
    padding: 9%;
    gap: 10%;

    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.share-popup::after {
  display: none;
}

.share-popup.active{
    visibility: visible;
    opacity: 1;
    background-color: hsl(217, 19%, 35%);
    transform: translateY(0);
    pointer-events: auto;
}


.share-btn.active{
      background-color:  hsl(210, 46%, 95%);
}

.share-btn {
    position: relative;
    z-index: 5;

}


}



/* TABLET VIEW */
@media (min-width: 601px) and (max-width: 1024px) {
      *{
    margin: 0;
    padding: 0;
  } 
   
 .container{
    /* display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

/* CONTENT */

.imageDiv img{
    width: 100%;
    height: 70%;
    display: flex;
    justify-self: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    margin: 0 auto;
    
}


/* CARD-TEXT */
.cardDiv{
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    background-color: #fff;

    height: 350px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: relative;
}

.textH2{
    font-family: sans-serif, 'Manrope';
    font-weight: 700;
    margin-bottom: 2%;
    width: 90%;
    font-size: 25px;
    line-height: 1.5;
}

.textSub{
    font-family: sans-serif, 'Manrope';
    font-weight: 500;
    margin-bottom: 50px;
    width: 90%;
    color: grey;
    margin-top: 18px;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 18px;
}

.sep{
    display: flex;
    justify-content: space-between;
}

.profile{
    display: flex;
    gap: 15px;
    color: grey;
    margin-bottom: 0;
}

.pic{
    border-radius: 20px;
    width: 60px;
}

.profileText{
    font-family: sans-serif, 'Manrope';
    gap: 5px;
}

.name{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.date{
    font-size: 17px;
}



.share-btn{
    border: none;
    padding: 100%;
    border-radius: 50%;
    background-color:  hsl(210, 46%, 95%);
    width: 15%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -300%;
    margin-top: 40%;
}

.share-popup{
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    position: absolute;
    padding: 7%;
    gap: 10%;
    font-size: 25px;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.share-popup::after {
  display: none;
}

.share-popup.active{
    visibility: visible;
    opacity: 1;
    background-color: hsl(217, 19%, 35%);
    transform: translateY(0);
    pointer-events: auto;
}


.share-btn.active{
      background-color:  hsl(210, 46%, 95%);
}

.share-btn {
    position: relative;
    z-index: 5;

}
}
